<h1>Temperature</h1>

<div class="row">
    <div class="col-lg-12">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Unit of measurement ({{selected_unit}}) <span class="caret"></span>
  </button>
            <ul class="dropdown-menu">
                <li *ngFor="let unit of units"><a (click)="changeUnit(unit)">{{ unit }}</a></li>
            </ul>
        </div>
    </div>
    
    <div class="col-lg-4">
        <form>
            <div class="form-group">
                <label for="min">Min. Temperature</label>
                <input [(ngModel)]="min" name="min" type="number" class="form-control">
            </div>
            <div class="form-group">
                <label for="desired">Desired Temperature</label>
                <input [(ngModel)]="desired" name="desired" type="number" class="form-control">
            </div>
            <div class="form-group">
                <label for="max">Max. Temperature</label>
                <input [(ngModel)]="max" name="max" type="number" class="form-control">
            </div>
            
            <button (click)="changeValues()" type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>
